package components

type ButtonAttributes struct {
    Type string
    Calass string
    Text string
}

css buttonStyle() {
	padding: 3px;
}

templ Button(attributes ButtonAttributes){
        <button type={ attributes.Type } class={ attributes.Calass, buttonStyle() } >
           { attributes.Text }
        </button>
}

func DefaultButtonAttributes() ButtonAttributes{
    return ButtonAttributes{
        Type: "submit",
        Calass: "btn btn-primary",
        Text: "Submit",
    }
}