package scripts

templ SetTitle(){
    <script type="text/javascript">
        function setTitle() {
            const newt = document.getElementById("var_title");
            const headline = document.getElementById("video-headline");
            const title = document.getElementById("page-title");
            headline.innerText = newt.innerText;
            title.innerText = newt.innerText;
            }
    </script>
}