package forms

type FormAttributes struct{
    HxPost string
    HxTraget string
    HxInclude string
    HxTrigger string
    HxOn string
    HxSwap string
    Class string
    Id string
    Name string
}


templ Form(attributes FormAttributes) {
    <form class={attributes.Class} >
    {children...}
    </form> 
}