package forms

templ InfoForm(attributes FormAttributes){
        <form class={attributes.Class} hx-post={attributes.HxPost} hx-target={attributes.HxTraget} >
        {children...}
        </form> 
}

func DefaultInfoFormAttributes() FormAttributes{
    return FormAttributes{
        HxPost: "/info/",
        HxTraget: "#main-container",
    }
}