package view

import "github.com/andrey4d/ytapiserver/templ/layout"



templ Hello(msg string, pageAttributes layout.BaseAttributes ){
      @layout.Base(pageAttributes){
        <p> {msg} </p>
      }
}